@font-face {
    font-family: 'myriadpro-Regular';
    src: url("../font/myriadpro-regular.woff2") format("woff2"), 
    url("../font/myriadpro-regular.woff") format("woff"), 
    url("//font/myriadpro-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
@font-face {
        font-family: 'myriadpro-semibold';
        src: url("../font/myriadpro-semibold.woff2") format("woff2"), 
        url("../font/myriadpro-semibold.woff") format("woff"), 
        url("../font/myriadpro-semibold.ttf") format("truetype");
        font-weight: normal;
        font-style: normal; }
@font-face {
    font-family: 'myriadpro-semiboldit';
    src: url("../font/myriadpro-semiboldit.woff2") format("woff2"), 
    url("../font/myriadpro-semiboldit.woff") format("woff"), 
    url("../font/myriadpro-semiboldit.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
.show {
    display: block;
}
.hide {
    display: none;
}
/* =============================section header============================== */
header {
    background-color: #dcdcdc;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
header .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 230px;
}
.tel a {
    display: block;
    color: #767676;
    font-family: 'myriadpro-regular', sans-serif;
    font-size: 40px;
    line-height: 46px;
}

.logo {
    width: 273px;
    height: 100px;
}
/* =============================media for header============================== */
@media (max-width: 640px){
    .logo {
        width: 50%;
    }
    .logo img {
        width: 100%;
    }
    .tel {
        width: 50%;
        text-align: right;
    }
    .tel a {
        font-size: 26px;
        line-height: 26px;
    }
}
@media (max-width: 420px) {
    .tel a {
        font-size: 18px;
        line-height: 20px;
    }
}
/* =============================section f2============================== */
.form {
    height: 460px;
    background: url(../img/bg1.png) center no-repeat, #f8f8f8;
    text-transform: uppercase;
}
.form .container {
    padding: 75px 0 95px 100px;
}
.form-container {
    width: 360px;
    
}
.form-container h2 {
    font-family: 'myriadpro-semibold', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #9da3d7;
    margin-bottom: 15px;
}
.form-container form {
    height: 275px;
    background-color: #9da3d7;
    padding: 30px 20px 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.form-container form h3 {
    font-family: 'myriadpro-regular', sans-serif;
    font-size: 24px;
    margin-bottom: 25px;
    text-align: justify;
    color: #fff;
}
.form-container form span {
    display: block;
    text-align: center;
}
.form-container form input {
    display: block;
    width: 290px;
    height: 50px;
    font-family: 'myriadpro-regular', sans-serif;
    font-size: 24px;
    margin: 0 0 20px 10px;
    padding: 7px 15px;
    color: #767676;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.form-container form .btn {
    display: block;
    font-family: 'myriadpro-regular', sans-serif;
    font-size: 24px;
    width: 290px;
    height: 50px;
    margin-left: 10px;
    text-transform: uppercase;
    border: none;
    background-color: #ffc087;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.shadow {
    height: 15px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}
/* =============================media for f2============================== */
@media (max-width: 576px) {
    .form .container {
        padding: 75px 0 95px 0;
    }
    .form-container {
    width: 320px;
    margin: 0 auto;
    }
    .form-container form input {
        width: 260px;
    }
    .form-container form .btn {
        width: 260px;
    }
    .form-container form h3 {
        font-size: 20px;
    }
}
/* =============================section f3============================== */
.slider h2 {
    font-family: 'myriadpro-semibold', sans-serif;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #9da3d7;
    margin-bottom: 15px;
}
.slider .container {
    padding: 45px 0;
}
.slider-container {
    padding-bottom: 30px;
}
.slider-init {
    max-width: 705px;
    margin: 0 auto;
}
.slide {
    height: 305px;
    border: 10px solid #fff;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);
            box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);
    text-align: center;
}
.s1 {
    background-color: #b1e1a3;
}
.s2 {
    background-color: #ffc087;
}
.s3 {
    background-color: #9da3d7;
}

.slide p {
    font-family: 'myriadpro-semibold', sans-serif;
    font-size: 216px;
    line-height: 305px;
}
.slider-init .slick-dots {
    bottom: -45px;
}
.slider-init .slick-dots li {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
.slider-init .slick-dots li button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 3px solid #ddd;
 }
  
    .slider-init .slick-dots li button::before {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  
    .slider-init .slick-dots li button:hover::before,
    .slider-init .slick-dots li.slick-active button::before {
    width: 20px;
    height: 20px;
    background-color: #9da3d7;
     }
/* =============================section f4============================== */
.text .container h2 {
    text-align: center;
    font-family: 'myriadpro-semibold', sans-serif;
    font-size: 24px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.text .container p {
    text-align: justify;
    font-family: 'myriadpro-regular', sans-serif;
    font-size: 14px;
}
.popup-conteiner {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.6);
}
.popup {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    height: 350px;
    border-radius: 30px;
    background-color: #0099de;
    padding: 20px;
    box-sizing: border-box;
    text-align: right;
}
.popup p {
    font-family: 'myriadpro-semibold', sans-serif;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #9da3d7;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.popup svg {
    cursor: pointer;
}
/* =============================section f5============================== */
.calculator {
    padding-top: 70px;
}
.calculator h2 {
    font-family: 'myriadpro-semibold', sans-serif;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #9da3d7;
    margin-bottom: 40px;
}
.windows p {
    font-family: 'myriadpro-regular', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}
.windows p:hover {
    color: #0099de;
    text-decoration: underline;
}
.windows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
}
.act>p {
    color: #0099de;
    text-decoration: underline;
}
.windows-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.window-calc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: 2px solid #e8e8e8;
    margin-bottom: 100px;
}
.window-size {
    width: 40%;
    padding-right: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.window-size p {
    font-family: 'myriadpro-semiboldit', sans-serif ;
    font-size: 22px;
    color: #636363;
}
.window-size-elem>p:first-child {
    position: absolute;
    left: 45px;
    top: 160px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    width: 50px;
    height: 50px;
}
.window-size-elem {
    position: relative;
    text-align: center;
    padding: 35px 20px;
}
.window-img-wraper{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.window-img-wraper img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.size-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0 45px;
}
.size-input label {
    display: inline-block;
    font-family: 'myriadpro-regular', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}
.size-input span {
    font-family: 'myriadpro-regular', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #0099de;
    padding-bottom: 7px;
}
.size-input input {
    display: block;
    width: 85px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #a2a2a2;
    font-family: 'myriadpro-regular', sans-serif;
    font-size: 35px;
    line-height: 30px;
    color: #5d5d5d;
}
.window-settings {
    font-family: 'myriadpro-regular', sans-serif;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%;
}
.window-settings h3 {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    color: #0099de;

}
.window-settings h4 {
    width: 100%;
    font-family: 'myriadpro-semiboldit', sans-serif ;
    font-size: 24px;
    line-height: 40px;
}
.window-settings label {
    position: relative;
    font-size: 18px;
    line-height: 40px;
    margin-right: 30px;
    cursor: pointer;
}
.window-settings label::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 5px;
    left: -5px;
    width: 15px;
    height: 15px;
    border: 2px solid #979797;
    border-radius: 50%;
}
.window-settings label:hover::before {
    background-color: #767676;
}
.radio1:checked ~ .swith1::before,
.radio2:checked ~ .swith2::before,
.radio3:checked ~ .swith3::before{
    background-color: #767676;
}
.window-settings select {
    width: 365px;
    height: 45px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'myriadpro-regular', sans-serif;
    font-size: 18px;
    line-height: 40px;
    padding-left: 25px;
    border: 2px solid #aeaeae;
    border-radius: 7px;
}
.buttom-container {
    padding: 90px 0 50px 0;
    width: 100%;
    text-align: center;
}
.buttom-container input, .buttom-container button {
    width: 280px;
    height: 46px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    border: none;
}
.buttom-container input {
    font-family: 'myriadpro-regular', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #424242;
    background-color: #c6c6c6;
    padding-left: 60px;
}
.user {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}
.img-user {
    display: inline-block;
    background: url(../img/user.png) center no-repeat, #fff;
    width: 44px;
    height: 43px;
    border-radius: 11px;
    position: absolute;
    left: 3px;
    top: 2px;
} 
.user:hover>.img-user {
    background: url(../img/user1.png) center no-repeat, #fff;
}
  
.buttom-container .btn {
    font-family: 'myriadpro-regular', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #9da3d7;
    color: #fff;
}
.buttom-container .btn:hover {
    background: -webkit-gradient(linear, left top, right top, from(#dc2614), to(#ff4433));
    background: linear-gradient(to right, #dc2614, #ff4433);
    border: 3px solid #ffd3c4;
    -webkit-box-shadow: 0px 0px 5.58px 0.42px rgba(0, 0, 0, 0.34);
            box-shadow: 0px 0px 5.58px 0.42px rgba(0, 0, 0, 0.34);

}
/* =============================media for f5============================== */
@media (max-width: 960px) {
    .size-input {
        flex-wrap: nowrap;
        padding: 0; 
    }
    .window-settings label {
        margin-right: 0;
    }
}
@media (max-width: 768px) {
    .windows {
        justify-content: center;
    } 
    .window-size {
        padding-right: 10px;
    }
    .window-size-elem {
        padding: 35px 0;
    }
    .windows-elem {
        margin: 0 10px 20px 0;
    }
    .window-settings h3 {
        font-size: 22px;
    }
    .window-settings h4 {
        font-size: 18px;
    }
    .window-settings label {
        font-size: 12px;
    }
    .window-settings select {
        width: 230px;
    }
    .size-input input {
        width: 60px;
        margin: 0 auto;
    } 
    .buttom-container input, .buttom-container button {
        width: 200px;
    }
    .window-size-elem>p:first-child {
        left: 20px;
    }
}
@media (max-width: 576px) {
    .window-size-elem>p:first-child {
        left: 10px;
    }
    .size-input label {
        font-size: 14px;
    }
    .size-input input {
        width: 40px;
        font-size: 20px;
    }
    .window-settings h3 {
        font-size: 18px;
    }
    .window-settings h4 {
        font-size: 14px;
    }
    .window-settings label {
        width: 100%;
    }
    .window-settings select {
        width: 160px;
        font-size: 16px;
    }
    .buttom-container input, .buttom-container .btn {
        width: 160px;
        font-size: 14px;
    }
}
@media (max-width: 576px) {
    .window-settings {
        width: 100%;
        padding: 20px 20px;
    }
    .window-size {
        width: 100%;
    }
    .user {
        margin-right: 0;
    }
    .buttom-container .btn {
        width: 150px;
    }
}

/* =============================section footer============================== */
footer {
    
    background-color: #777;
    font-size: 24px;
    color: #fffefe;
}
footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 145px;;    
}

  
  